# usual excludes
.vscode
**/__pycache__

# large files
datasets/
images_d/
real-time-HGR-application/.sources/

# temporary files
archive/
*/allDatasets-e2eEnsembleTuning-Analysis.ipynb
*/allDatasets.e2eEnsembleTuning-Checkpoints.yml
